<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop.Net.Web.Admin</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Shop.Net.Web.Admin.styles.css" asp-append-version="true" />
</head>

<body class="h-screen max-h-screen flex flex-col">
    @(await Component.InvokeAsync<NavbarViewComponent>())
    <div class="flex flex-1">
        @* @(await Html.PartialAsync("_Sidebar")) *@
        @(await Component.InvokeAsync<SidebarViewComponent>())
        <div class="flex-1">
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/app.bundle.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <!-- Render footer scripts -->
    @Html.Raw(ScriptTagHelper.RenderFooterScripts())
</body>

</html>
