@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop.Net.Web.Admin</title>
    <meta name="csrf-token" content="@Xsrf.GetAndStoreTokens(Context).RequestToken">
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>

<body class="h-screen max-h-screen flex flex-col">
    <div id="backdrop" class="absolute w-screen h-screen z-40 bg-black opacity-50 hidden"></div>
    <div id="loader" class="absolute z-50 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 hidden">
        <span class="loading loading-spinner loading-md"></span>
    </div>

    @(await Component.InvokeAsync<NavbarViewComponent>())
    <div class="flex flex-1 bg-white">
        @(await Component.InvokeAsync<SidebarViewComponent>())
        <div class="flex-1">
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/js-cookie/js.cookie.min.js" asp-append-version="true"></script>
    <script src="~/js/app.bundle.js" asp-append-version="true"></script>
    <script>
        function toggleLoader() {
            $("#backdrop").toggleClass("-z-50").toggleClass("z-40");
            $("#loader").toggleClass("-z-50").toggleClass("z-50");
        }

        function addCsrfToken(data) {
            data["__RequestVerificationToken"] = $('meta[name="csrf-token"]').attr('content');
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)

    <!-- Render footer scripts -->
    @Html.Raw(ScriptTagHelper.RenderFooterScripts())
</body>

</html>
